
# Executables
*.exe
*.out

# Object files
*.o
*.obj

# Libraries
*.lib
*.a
*.so
*.dll

# Build directories
build/
bin/
out/
Debug/
Release/

# IDE specific files
.vscode/
.idea/
*.sln
*.vcxproj
*.vcxproj.filters
*.user
*.suo

# System files
*.swp
*~

#python 
__pycache__/
*.pyc
*.pyd

# Virtual environment
venv/
.venv/
env/